@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
#all-screen{
  background-color: rgb(194, 156, 233);
}
#all-screen{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.checked-item {
  text-decoration: line-through;
}
#new-list-btn {
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: gray;
}

#new-list-btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


#new-todoitem-btn {
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: gray;
}

#new-todoitem-btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
#create-list{
  padding: 10px;
}
#name-list{
  padding: 10px;
}
#new-list-input{
  border-radius: 4px;
  width: 40%;
}
#new-todoitem-input{
  border-radius: 4px;
  width: 40%;
}